body {
  background-color: rgb(238, 238, 238);
}
.nav-element-nw {
  box-shadow: none !important;
  background-color: #45526e !important;
  color: aliceblue;
  padding: 1rem 1rem !important;
}
.btn-dropdown {
  background-color: #c7c7c7 !important;
  box-shadow: none;
  padding: 0.7rem 1.7rem;
  margin: 10px 0 10px 0;
}
.nav-element-nw:hover {
  color: rgba(255,255,255,0.75);
}
.md-form {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}
.txt-id {
  width: 4rem;
}
.titulo-card {
  margin-bottom: 1rem;
}
.cont-principal {
  margin-top: 20px !important;
}
.card-nw {
  border-radius: 8px;
}
.contLogin {
  background-color: rgba(255, 255, 255, .75) !important;
  border-radius: 10px;
  margin: auto 90px;
}
.carousel-caption {
  height: 20% !important;
  top: 25%;
}
.back-color {
  background-color: #a4aec3;
  width: 100%;
  height: 15rem;
  margin-top: -10px;
  margin-bottom: -180px;
}
.fab {
  border-radius: 100%;
  box-shadow: 0px 3px 5px rgba(0,0,0,0.25);
  position: fixed;
  bottom: 15px;
  right: 15px;
}
.fav-ico {

}
.card-body {
  padding: 1.5rem;
  border-radius: 30px;
}
.txt-50 {
  width: 40%;
}
/* Required for full background image */
html,
body,
header,
.view {
  height: 100%;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 100vh;
  }
}

.dtHorizontalVerticalExampleWrapper {
  max-width: 600px;
  margin: 0 auto;
  }
  #dtHorizontalVerticalExample th, td {
  white-space: nowrap;
  }
  table.dataTable thead .sorting:after,
  table.dataTable thead .sorting:before,
  table.dataTable thead .sorting_asc:after,
  table.dataTable thead .sorting_asc:before,
  table.dataTable thead .sorting_asc_disabled:after,
  table.dataTable thead .sorting_asc_disabled:before,
  table.dataTable thead .sorting_desc:after,
  table.dataTable thead .sorting_desc:before,
  table.dataTable thead .sorting_desc_disabled:after,
  table.dataTable thead .sorting_desc_disabled:before {
  bottom: .5em;
  }
/* .navbar:not(.top-nav-collapse) {
  background: transparent !important;
} */

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #45526e !important;
  }
}