body {
  background-color: rgb(238, 238, 238);
}
.nav-element-nw {
  box-shadow: none !important;
  background-color: #45526e !important;
  color: aliceblue;
  padding: 1rem 1rem !important;
}
.nav-element-nw:hover {
  color: rgba(255,255,255,0.75);
}
.md-form {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}

.contLogin {
  background-color: rgba(255, 255, 255, .75) !important;
  border-radius: 10px;
  margin: auto 90px;
}
.carousel-caption {
  height: 20% !important;
  top: 25%;
}

/* Required for full background image */
html,
body,
header,
.view {
  height: 100%;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 100vh;
  }
}

.top-nav-collapse {
  background-color: #f8bbd0 !important;
}

/* .navbar:not(.top-nav-collapse) {
  background: transparent !important;
} */

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #f8bbd0 !important;
  }
}